.parent {
  color: #233b6c;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.parent div {
  display: flex;
}
.child {
  padding: 20px;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
}

.parent1 {
  position: relative;
}

.child4 {
  background-image: url("../img/firstview.jpeg");
  background-size: 600px 400px;
  background-repeat: no-repeat;
  background-position: right;
  padding-top: 200px;
  z-index: 30;
  position: absolute;
  top: 20%;
  left: 30%;
}

.child5 {
  text-align: left;
  font-size: 60px;
}

.child6 {
  width: 800px;
  height: 150px;
  background: #233b6c;
  margin: 40px;
  z-index: 1;
}
