p:first-of-type {
  color: #233b6c;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

p + span {
  color: #233b6c;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
}

body {
  background-image: url("../img/firstview.jpg");
  background-size: 300px 100px;
}

p:last-child {
  color: black;
  font-weight: lighter;
  font-size: 50px;
}

.parent {
  width: 800px;
  height: 150px;
  background: #233b6c;
  margin: 40px;
}
